USE [CuaHangHoa]
GO
/****** Object:  Table [dbo].[22_NhanVien]    Script Date: 04/17/2019 16:23:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[22_NhanVien](
	[Ten] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_22_NhanVien] PRIMARY KEY CLUSTERED 
(
	[Ten] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[22_Loai]    Script Date: 04/17/2019 16:23:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[22_Loai](
	[MaLoai] [int] NOT NULL,
	[Ten] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_22_Loai] PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[22_KhachHang]    Script Date: 04/17/2019 16:23:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[22_KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](50) NOT NULL,
	[DiaChiGiaoHang] [ntext] NOT NULL,
	[DienThoai] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_22_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[22_HoaDon]    Script Date: 04/17/2019 16:23:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[22_HoaDon](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NOT NULL,
 CONSTRAINT [PK_22_HoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[22_Hoa]    Script Date: 04/17/2019 16:23:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[22_Hoa](
	[MaHoa] [int] IDENTITY(1,1) NOT NULL,
	[TenHoa] [nvarchar](50) NOT NULL,
	[Gia] [nvarchar](50) NOT NULL,
	[HinhAnh] [nvarchar](50) NOT NULL,
	[GhiChu] [ntext] NOT NULL,
	[MaL] [int] NOT NULL,
 CONSTRAINT [PK_22_Hoa] PRIMARY KEY CLUSTERED 
(
	[MaHoa] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[22_CTHD]    Script Date: 04/17/2019 16:23:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[22_CTHD](
	[MaHD] [int] NOT NULL,
	[MaHoa] [int] NOT NULL,
	[SoLuong] [nchar](10) NOT NULL,
 CONSTRAINT [PK_22_CTHD] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaHoa] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_22_CTHD_22_Hoa]    Script Date: 04/17/2019 16:23:32 ******/
ALTER TABLE [dbo].[22_CTHD]  WITH CHECK ADD  CONSTRAINT [FK_22_CTHD_22_Hoa] FOREIGN KEY([MaHoa])
REFERENCES [dbo].[22_Hoa] ([MaHoa])
GO
ALTER TABLE [dbo].[22_CTHD] CHECK CONSTRAINT [FK_22_CTHD_22_Hoa]
GO
/****** Object:  ForeignKey [FK_22_CTHD_22_HoaDon]    Script Date: 04/17/2019 16:23:32 ******/
ALTER TABLE [dbo].[22_CTHD]  WITH CHECK ADD  CONSTRAINT [FK_22_CTHD_22_HoaDon] FOREIGN KEY([MaHD])
REFERENCES [dbo].[22_HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[22_CTHD] CHECK CONSTRAINT [FK_22_CTHD_22_HoaDon]
GO
/****** Object:  ForeignKey [FK_22_Hoa_22_Loai]    Script Date: 04/17/2019 16:23:32 ******/
ALTER TABLE [dbo].[22_Hoa]  WITH CHECK ADD  CONSTRAINT [FK_22_Hoa_22_Loai] FOREIGN KEY([MaL])
REFERENCES [dbo].[22_Loai] ([MaLoai])
GO
ALTER TABLE [dbo].[22_Hoa] CHECK CONSTRAINT [FK_22_Hoa_22_Loai]
GO
/****** Object:  ForeignKey [FK_22_HoaDon_22_KhachHang]    Script Date: 04/17/2019 16:23:32 ******/
ALTER TABLE [dbo].[22_HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_22_HoaDon_22_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[22_KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[22_HoaDon] CHECK CONSTRAINT [FK_22_HoaDon_22_KhachHang]
GO
